<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Школа онлайн изучения корейского языка</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/style.css">
    

</head>
<body>

    <header class="header">
        <div class="logo">LUVKOREA.</div>
        <nav class="nav">
            <ul>
                <li><a href="#main">Главная</a></li>
                <li><a href="#forwho">О нас</a></li>
                <li><a href="#course">Курсы</a></li>
                <li><a href="#contact">Контакты</a></li>
            </ul>
            <a href="student" class="button">Sign in</a>
        </nav>
    </header>

    <div id="main" class="content">
        <h1>
        <div> KOREAN </div>
        <div>LANGUAGE</div>
        
        </h1>
        <p>
            Start learning Korean right now! Quick and easy
            <br> 
            with LuvKorea!
        </p>
    </div>
    <div class="forwho">
    <div class="container">
        <div class="section-header">
            <h1 class="main-title">
                <span class="word-1"> THE TRAINING IS </span> 
                <span class="word-2"> SUITABLE </span> 
            </h1>
        </div>
        
        <div id="forwho" class="cards-container">
            <div class="card">
                <h2 class="card-title">LOW SKILL</h2>
                <p class="card-text">If you want to learn Korean from scratch, our training program will help you master it quickly.</p>
            </div>
            
            <div class="card">
                <h2 class="card-title">MEDIUM SKILL</h2>
                <p class="card-text">if you have previously studied a language, but you want to improve your level, then the course will help you with this task.</p>
            </div>
            
            <div class="card">
                <h2 class="card-title">SPECIAL</h2>
                <p class="card-text">If you need to take a Korean language proficiency test (TOPIK) for work or study, our course will help prepare you for it.</p>
            </div>
        </div>
    </div>
    </div>
    <section id="course" class="courses-section">
    <h2 class="section-title">LUVKOREA</h2>
    
    <div class="courses-scroll-container">
        <div class="courses-scroll">
            <div class="course-card">
                <img src="../static/media/course_1.jpg" alt="Корейский язык" class="course-image" >
                <h3>COURSE 1</h3>
                <p>This course will help you familiarize yourself with the basic level of language proficiency and master the basics of all the subtleties of Korea.</p>
                <button class="button">View</button>
            </div>
            <div class="course-card">
                <img src="../static/media/course_2.webp" alt="Корейский язык" class="course-image" >
                <h3>COURSE 2</h3>
                <p>This course will help you familiarize yourself with the basic level of language proficiency and master the basics of all the subtleties of Korea.</p>
                <button class="button">View</button>
            </div>
            <div class="course-card">
                <img src="../static/media/course_3.jpg" alt="Корейский язык" class="course-image" >
                <h3>COURSE 3</h3>
                <p>This course will help you familiarize yourself with the basic level of language proficiency and master the basics of all the subtleties of Korea.</p>
                <button class="button">View</button>
            </div>
            <div class="course-card">
                <img src="../static/media/course_4.webp" alt="Корейский язык" class="course-image" >
                <h3>COURSE 4</h3>
                <p>This course will help you familiarize yourself with the basic level of language proficiency and master the basics of all the subtleties of Korea.</p>
                <button class="button">View</button>
            </div>
            <div class="course-card">
                <img src="../static/media/course_5.jpg" alt="Корейский язык" class="course-image" >
                <h3>COURSE 5</h3>
                <p>This course will help you familiarize yourself with the basic level of language proficiency and master the basics of all the subtleties of Korea.</p>
                <button class="button">View</button>
            </div>
        </div>
    </div>
    </div>
</section>

<div id="contact" class="footer">
    <div class="logo">LUVKOREA</div>
    
    <div class="links">
        <a href="#main">Main</a>
        <a href="#lesson">Lesson</a>
        <a href="#forwho">For who</a>
        <a href="#course">Courses</a>
        <a href="#login">Log in</a>
        <a href="#about">About course</a>
    </div>
    <div id="contact" class="contact"> luvkorea@mail.ru</div>
    </div>
</footer>

</body>
</html>