<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Школа корейского языка личный кабинет</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/st1.css">
</head>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <div class="avatar"></div>
            <div class="user-info">
                <div class="user-name">{{ student.name }}</div>
                <div class="user-email">{{ student.email }}</div>
            </div>
        
            <div class="level-card">
                <div class="level-title">YOUR LEVEL</div>
                <div class="level-badge">{{ student.level }}</div>
                <button class="view-btn">VIEW</button>
            </div>
        </div>
        
        <div class="main-content">
            <h2 class="section-title">Меню</h2>
            <ul class="menu-list">
                <li class="menu-item">My courses</li>
                <li class="menu-item">Help & Support</li>
                <li class="menu-item">Account Settings</li>
                <li class="menu-item">Personal information</li>
                <li class="menu-item">Share with Friends</li>
            </ul>
        </div>
    </div>
</body>
</html>