@import "null.css";
 
        body {
            background-image: url('header.png');
            background-size: cover;        
            background-position: center;   
            background-attachment: fixed;  
            background-repeat: no-repeat;
            margin: 0; 
            font-family: sans-serif;
            line-height: 1.6;
            padding-top: 60px; 
            min-height: 100vh;            
        }
        

        .header {
                position: fixed;
                top: 0;
                left: 0;
                width: 100% ;
                box-sizing: border-box;
                height: 95px;
                background-color: rgba(255, 255, 255, 0.5);
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                z-index: 1000;
        }

        .header .logo {
            font-family: Paytone One;
            font-size: 24px;
            font-weight: bold;
        }

        .header .nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        .header .nav ul li {
            margin-left: 20px;
        }

        .header .nav ul li a {
            text-decoration: none;
            color: #ffffff;
            font-weight: 500;
            transition: color 0.3s ease;
        }

        .header .nav ul li a:hover {
            color: #ff00aa; 
        }

        .content {
            padding: 20px;
            margin-top: 20px; 
        }

        h1 {
            margin-bottom: 10px;
            margin-left: 180px;
            padding-top: 100PX;
            font-family: Anton;
            color: #481F6B;
            font-size: 170px;
            line-height: 180px;
        }

        p {
            font-size: 20px;
            margin-left: 120px;
            color: #ffffff;
        }


